<!-- Barra de navegación -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white">
    <h5 class="my-0 mr-md-auto font-weight-normal">Students App</h5>
    <!-- <a class="btn darkBackground registerButton text-white">Registrarse</a> -->
</div>
<!-- Barra de navegación -->
<!-- Contenedor general -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-11 col-md-11 col-lg-5 col-xl-3">
            <img src="../../../../../assets/img/undraw_studying_s3l7.svg" alt="Students-App" title="Students-App" class="homeIlustration">
            <h1 class="text-center text-dark m-0 p-0 mt-4">Students-App</h1>
            <p class="text-center lead darkText m-0 p-0 mt-3">Matriculación de estudiantes</p>
            <button class="btn text-center text-white darkBackground homeButton mt-4" (click)="goToLogin()">Iniciar sesión</button>
            <h6 class="text-center darkText mt-5 pointerCursor" (click)="goToRegister()">¿No tienes cuenta? regístrate</h6>
        </div>
    </div>
</div>
<!-- Contenedor general -->