<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3">
    <h5 class="my-0 mr-md-auto font-weight-normal text-dark">Students App</h5>
    <a class="btn bg-dark text-white" (click)="goToLogin()">Iniciar sesión</a>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-11 col-md-11 col-lg-5 col-xl-4">
            <img src="../../../../assets/img/undraw_studying_s3l7.svg" alt="Students App" title="Students App" class="authIlustration">
            <h1 class="text-center text-dark m-0 p-0 mt-4">Registro</h1>
            <p class="text-center lead text-dark m-0 p-0 mt-1">Complete el formulario</p>
            <form class="mt-3" [formGroup]="registerForm">
                <div class="form-group">
                    <label for="formGroupExampleInput" class="text-dark">Nombre</label>
                    <input type="text" class="form-control customInput" id="formGroupExampleInput" placeholder="Samir Méndez" formControlName="name">
                </div>
                <div class="form-group mt-3">
                    <label for="exampleInputEmail1" class="text-dark">Correo electrónico</label>
                    <input type="email" class="form-control customInput" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="some@example.com" formControlName="email">
                </div>
                <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu dirección de correo con nadie más.</small>
                <div class="form-group mt-3">
                    <label for="exampleInputPassword1" class="text-dark">Password</label>
                    <input type="password" class="form-control customInput" id="exampleInputPassword1" placeholder="••••••••••••••••••••" formControlName="password">
                </div>
            </form>
            <button class="btn text-center text-white bg-dark mt-5 mb-5 btn-lg btn-block" [disabled]="registerForm.invalid" (click)="createUser()">Registrarme</button>
        </div>
    </div>
</div>
<!-- Modals -->
<ng-template #registerModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalReference.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <img class="modalIlustration mt-5" src="{{modalData?.modalIcon}}" alt="Logo">
        <h2 class="text-center text-dark mt-4">{{modalData?.modalTitle}}</h2>
        <p class="text-center mt-3">{{modalData?.modalDescription}}</p>        
        <button class="btn btn-block btn-lg bg-dark text-center  text-white mt-2 mb-2" (click)="goToPanel()">Aceptar</button>
    </div>
</ng-template>
<!-- Modals -->